In [2]:
from pandas import DataFrame, read_csv
import pandas as pd

In [3]:
data1=pd.read_csv('census-income.csv')
data2=pd.read_csv('06.csv')

In [4]:
def item_process1(data2):
    dict1={}
    arr_columns=[]
    arr=[]
    words=['student','school']
    for columns in data2.columns:
        #print(columns)
        #arr_columns.append(columns)
        #init_row=''
        #print(columns)
        for r in data2[columns]:
            if isinstance(r, str):
                rows=r.lower()
                for i in words:
                    if i in rows:
                        if rows not in dict1:
                            dict1[rows]=1
                            #print (rows)
                        else:
                            dict1[rows]=dict1[rows]+1
                        #print(rows)
                        arr.append(rows)
    for key in dict1:
        #print (key)
        if dict1[key]>1:
            print(key,dict1[key])
    return dict1;

In [5]:
def item_process2(data2):
    dict1={}
    arr_columns=[]
    arr=[]
    words=['student','school']
    for columns in data2.columns:
        #print(columns)
        #arr_columns.append(columns)
        #init_row=''
        #print(columns)
        for r in data2[columns]:
            if isinstance(r, str):
                rows=r.lower()
                for i in words:
                    if i in rows:
                        if rows not in dict1:
                            dict1[rows]=1
                            #print (rows)
                        else:
                            dict1[rows]=dict1[rows]+1
                        #print(rows)
                        arr.append(rows)
    return dict1;

In [92]:
def item_process3(filename,data2,words):
    dict1={}
    column_counter=1
    item_counter=0;
    #words=['student','school']
    dict1['Column']='Value'
    dict1['Dataset']=filename
    dict1['Number_of_rows']=data2.shape[0]
    dict1['Number_of_columns']=data2.shape[1]
    for columns in data2.columns:
        column_header='column '+str(column_counter)
        dict1[column_header]=columns
        column_counter+=1
    for columns in data2.columns:
        for r in data2[columns]:
            if isinstance(r, str):
                rows='Item: '+r.lower()
                for i in words:
                    if i in rows:
                        if rows not in dict1:
                            dict1[rows]=1
                            #print (rows)
                        else:
                            dict1[rows]=dict1[rows]+1
    return dict1;

In [93]:
words=['school']
proc2=item_process3('dataset1.csv',data2,words)
series1=pd.Series(proc2)

In [94]:
proc2

{'Column': 'Value',
 'Dataset': 'dataset1.csv',
 'Number_of_rows': 25096,
 'Number_of_columns': 23,
 'column 1': 'Demographic',
 'column 2': 'DBN',
 'column 3': 'School Name',
 'column 4': 'Cohort',
 'column 5': 'Total Cohort',
 'column 6': 'Total Grads - n',
 'column 7': 'Total Grads - % of cohort',
 'column 8': 'Total Regents - n',
 'column 9': 'Total Regents - % of cohort',
 'column 10': 'Total Regents - % of grads',
 'column 11': 'Advanced Regents - n',
 'column 12': 'Advanced Regents - % of cohort',
 'column 13': 'Advanced Regents - % of grads',
 'column 14': 'Regents w/o Advanced - n',
 'column 15': 'Regents w/o Advanced - % of cohort',
 'column 16': 'Regents w/o Advanced - % of grads',
 'column 17': 'Local - n',
 'column 18': 'Local - % of cohort',
 'column 19': 'Local - % of grads',
 'column 20': 'Still Enrolled - n',
 'column 21': 'Still Enrolled - % of cohort',
 'column 22': 'Dropped Out - n',
 'column 23': 'Dropped Out - % of cohort',
 'Item: henry street school for international': 54,
 'Item: university neighborhood high school': 77,
 'Item: east side community school': 76,
 'Item: marta valle high school': 74,
 'Item: cascades high school': 77,
 'Item: bard high school early college': 65,
 'Item: food and finance high school': 61,
 'Item: high school of hospitality management': 49,
 'Item: pace high school': 54,
 'Item: urban assembly school of design and c': 59,
 'Item: facing history school  the': 36,
 'Item: james baldwin school  the: a school f': 62,
 'Item: urban assembly school of business for young women': 40,
 'Item: gramercy arts high school': 31,
 'Item: emma lazarus high school': 16,
 'Item: high school for environmental studies': 77,
 'Item: coalition school for social change': 73,
 'Item: baruch college campus high school': 71,
 'Item: n.y.c. lab school for collaborative s': 75,
 'Item: school of the future high school': 73,
 'Item: landmark high school': 74,
 'Item: n.y.c. museum school': 74,
 'Item: eleanor roosevelt high school': 67,
 'Item: millennium high school': 64,
 'Item: high school for health professions an': 77,
 'Item: legacy school for integrated studies': 76,
 'Item: crotona academy high school': 66,
 'Item: ballet tech  nyc public school for da': 29,
 'Item: seward park high school': 40,
 'Item: vanguard high school': 76,
 'Item: manhattan international high school': 73,
 'Item: washington irving high school': 77,
 'Item: stuyvesant high school': 73,
 'Item: high school of economics and finance': 77,
 'Item: talent unlimited high school': 72,
 'Item: murry bergtraum high school for busin': 77,
 'Item: independence high school': 77,
 'Item: repertory company high school for the': 73,
 'Item: park west high school': 45,
 'Item: manhattan bridges high school': 43,
 'Item: new design high school': 66,
 'Item: high school for dual language and asi': 51,
 'Item: liberty high school academy for newco': 75,
 'Item: high school m560 - city as school': 77,
 'Item: urban academy laboratory high school': 68,
 'Item: satellite academy high school': 77,
 'Item: richard r. green high school of teach': 77,
 'Item: harvey milk high school': 69,
 'Item: the high school of fashion industries': 77,
 'Item: norman thomas high school': 77,
 'Item: high school of graphic communication': 77,
 'Item: art and design high school': 77,
 'Item: life sciences secondary school': 77,
 'Item: school for the physical city': 76,
 'Item: manhattan theatre lab high school': 50,
 'Item: high school for arts  imagination and': 41,
 'Item: urban assembly school for media studi': 49,
 'Item: wadleigh secondary school for the per': 70,
 'Item: boys and girls high school': 77,
 'Item: louis d. brandeis high school': 77,
 'Item: beacon high school': 77,
 'Item: fiorello h. laguardia high school of': 77,
 'Item: high school for law  advocacy and com': 65,
 'Item: high school of arts and technology': 72,
 'Item: park east high school': 72,
 'Item: central park east high school': 76,
 "Item: young women's leadership school": 61,
 'Item: heritage school  the': 71,
 'Item: harlem renaissance high school': 61,
 'Item: mott hall high school': 54,
 'Item: urban assembly school for the perform': 23,
 'Item: bronx school of law and finance': 67,
 'Item: high school for mathematics  science': 60,
 'Item: high school for international busines': 70,
 'Item: high school for media and communicati': 68,
 'Item: high school for law and public servic': 70,
 'Item: high school for health careers and sc': 71,
 'Item: a. philip randolph campus high school': 76,
 'Item: gregorio luperon high school for scie': 50,
 'Item: international community high school': 18,
 'Item: jill chaifetz transfer high school': 53,
 'Item: bronx haven high school\xa0 \xa0': 26,
 'Item: community school for social justice': 58,
 'Item: south bronx high school': 24,
 'Item: new explorers high school': 66,
 'Item: urban assembly school for careers in': 68,
 'Item: health opportunities high school': 71,
 'Item: renaissance high school for musical t': 65,
 'Item: gateway school for environmental rese': 64,
 'Item: holcombe l. rucker school of communit': 33,
 'Item: bronx community high school': 51,
 'Item: herbert h. lehman high school': 77,
 'Item: adlai e. stevenson high school': 71,
 'Item: banana kelly high school': 71,
 'Item: school for community research and lea': 69,
 'Item: high school x560 - bronx academy high': 71,
 'Item: jane addams high school for academic': 76,
 'Item: new school for arts and sciences': 60,
 'Item: mott hall bronx high school': 41,
 'Item: dreamyard preparatory school': 34,
 'Item: bronx international high school': 74,
 'Item: school for excellence': 69,
 'Item: bronx high school of business': 68,
 'Item: bronx high school for medical science': 60,
 'Item: jonathan levin high school for media': 69,
 'Item: bronx school for law  government and': 73,
 'Item: bronx leadership academy high school': 74,
 'Item: high school for violin and dance': 56,
 'Item: the marie curie school for medicine': 41,
 'Item: kingsbridge international high school': 32,
 'Item: international school for liberal arts': 31,
 'Item: in-tech academy (m.s. / high school 3': 55,
 'Item: william h. taft high school': 36,
 'Item: walton high school': 52,
 'Item: high school for teaching and the prof': 72,
 'Item: belmont preparatory high school': 73,
 'Item: theodore roosevelt high school': 36,
 'Item: fordham high school for the arts': 64,
 'Item: bronx high school for law and communi': 68,
 'Item: dewitt clinton high school': 77,
 'Item: celia cruz bronx high school of music': 50,
 'Item: bronx high school of science': 71,
 'Item: john f. kennedy high school': 77,
 'Item: marble hill high school for internati': 69,
 'Item: bronx theatre high school': 60,
 'Item: discovery high school': 56,
 'Item: high school of american studies at le': 57,
 'Item: bronx health sciences high school': 40,
 'Item: bronx high school for writing and com': 58,
 'Item: bronx lab school': 51,
 'Item: high school of computers and technolo': 61,
 'Item: christopher columbus high school': 77,
 'Item: bronx high school for the visual arts': 71,
 'Item: evander childs high school': 63,
 'Item: harry s truman high school': 77,
 'Item: new world high school': 47,
 'Item: global enterprise high school': 67,
 'Item: high school for contemporary arts': 63,
 'Item: bronx aerospace high school': 70,
 'Item: metropolitan high school  the': 49,
 'Item: performance conservatory high school': 49,
 'Item: bronx regional high school': 72,
 'Item: high school of world cultures': 61,
 'Item: bronx coalition community high school': 73,
 'Item: fannie lou hamer freedom high school': 70,
 'Item: urban assembly high school of music a': 27,
 'Item: brooklyn community high school of com': 27,
 'Item: science skills center high school for': 77,
 'Item: brooklyn technical high school': 74,
 'Item: brooklyn international high school': 72,
 'Item: the urban assembly school for law and': 43,
 'Item: acorn community high school': 71,
 'Item: freedom academy high school': 70,
 'Item: brooklyn academy high school': 66,
 'Item: bedford academy high school': 48,
 'Item: brooklyn high school for leadership a': 31,
 'Item: juan morel campos secondary school': 59,
 'Item: school for legal studies': 71,
 'Item: brooklyn latin school  the': 18,
 'Item: green school: an academy for environm': 34,
 'Item: progress high school for professional': 77,
 'Item: the high school for enterprise  busin': 76,
 'Item: brooklyn preparatory high school': 39,
 'Item: williamsburg high school for architec': 56,
 'Item: williamsburg preparatory school': 51,
 'Item: lyons community school': 16,
 'Item: automotive high school': 76,
 'Item: harry van arsdale high school': 47,
 'Item: agnes y. humphrey school for leadersh': 24,
 'Item: brooklyn school for global studies': 76,
 'Item: brooklyn secondary school for collabo': 37,
 'Item: john jay high school': 17,
 'Item: secondary school for law': 74,
 'Item: secondary school for journalism': 73,
 'Item: school for international studies': 77,
 'Item: cobble hill school of american studie': 77,
 'Item: pacific high school': 65,
 'Item: west brooklyn community high school': 69,
 'Item: brooklyn high school of the arts': 70,
 'Item: south brooklyn community high school': 71,
 'Item: prospect heights high school': 34,
 'Item: international arts business school': 54,
 'Item: george wingate high school': 35,
 'Item: w.e.b. dubois academic high school': 67,
 'Item: international high school at prospect': 60,
 'Item: the high school for global citizenshi': 53,
 'Item: school for human rights  the': 49,
 'Item: school for democracy and  leadership': 44,
 'Item: expeditionary learning school for com': 28,
 'Item: high school for public service: heroe': 45,
 'Item: high school for youth and community d': 57,
 'Item: high school for service & learning at': 54,
 'Item: brooklyn school for music & theatre': 62,
 'Item: brownsville academy high school': 67,
 'Item: bard high school early college ii': 24,
 'Item: clara barton high school': 77,
 'Item: paul robeson high school': 74,
 'Item: samuel j. tilden high school': 70,
 'Item: canarsie high school': 77,
 'Item: south shore high school': 77,
 'Item: brooklyn generation school': 21,
 'Item: brooklyn theatre arts high school': 12,
 'Item: victory collegiate high school': 17,
 'Item: east brooklyn community high school': 18,
 'Item: high school for civil rights': 58,
 'Item: franklin k. lane high school': 77,
 'Item: thomas jefferson high school': 50,
 'Item: fdny high school for fire and life sa': 51,
 'Item: multicultural high school': 10,
 'Item: brooklyn lab school': 10,
 'Item: new utrecht high school': 77,
 'Item: high school of  telecommunication art': 77,
 'Item: fort hamilton high school': 77,
 'Item: franklin delano roosevelt high school': 77,
 'Item: international high school at lafayette': 32,
 'Item: rachel carson high school for coastal': 50,
 'Item: high school of sports management': 37,
 'Item: lafayette high school': 77,
 'Item: abraham lincoln high school': 77,
 'Item: edward r. murrow high school': 77,
 'Item: john dewey high school': 77,
 'Item: midwood high school': 77,
 'Item: life academy high school for film and': 10,
 'Item: brooklyn studio secondary school': 77,
 'Item: james madison high school': 77,
 'Item: sheepshead bay high school': 77,
 'Item: leon m. goldstein high school for the': 75,
 'Item: ebc/eny high school for public safety': 70,
 'Item: aspirations diploma plus high school': 27,
 'Item: metropolitan diploma plus high school': 28,
 'Item: teachers preparatory high school': 56,
 'Item: high school of applied communication': 38,
 'Item: newtown high school': 77,
 'Item: grover cleveland high school': 77,
 'Item: middle college high school at laguard': 76,
 'Item: international high school at laguardi': 70,
 'Item: high school for arts and business': 77,
 'Item: concord high school': 79,
 'Item: flushing international high school': 42,
 'Item: east-west school of international stu': 28,
 'Item: john bowne high school': 77,
 'Item: flushing high school': 77,
 'Item: townsend harris high school': 69,
 'Item: queens academy high school': 76,
 'Item: north queens community high school': 56,
 'Item: benjamin n. cardozo high school': 77,
 'Item: information technology high school': 80,
 'Item: francis lewis high school': 77,
 'Item: martin van buren high school': 77,
 'Item: bayside high school': 77,
 'Item: queens high school of teaching  liber': 65,
 'Item: channel view school for research': 41,
 'Item: queens high school for information  r': 10,
 'Item: august martin high school': 77,
 'Item: beach channel high school': 77,
 'Item: far rockaway high school': 77,
 'Item: richmond hill high school': 77,
 'Item: john adams high school': 77,
 'Item: high school for construction trades': 22,
 'Item: forest hills high school': 78,
 'Item: jamaica high school': 83,
 'Item: hillcrest high school': 84,
 'Item: queens high school for the sciences a': 62,
 'Item: high school for law enforcement and p': 65,
 'Item: pathways college preparatory school:': 39,
 'Item: excelsior preparatory high school': 53,
 'Item: george washington carver high school': 78,
 'Item: springfield gardens high school': 48,
 'Item: humanities & arts magnet high school': 84,
 'Item: william cullen bryant high school': 84,
 'Item: long island city high school': 84,
 'Item: frank sinatra school of the arts high school': 82,
 'Item: newcomers high school': 78,
 'Item: baccalaureate school for global educa': 66,
 'Item: csi high school for international stu': 33,
 'Item: the michael j. petrides school': 79,
 'Item: new dorp high school': 84,
 'Item: port richmond high school': 84,
 'Item: curtis high school': 84,
 'Item: tottenville high school': 84,
 'Item: susan e. wagner high school': 84,
 'Item: staten island technical high school': 76,
 'Item: bushwick high school': 34,
 'Item: ebc high school for public service\x16bu': 79,
 'Item: bushwick school for social justice': 65,
 'Item: all city leadership secondary school': 63,
 'Item: bushwick leaders high school for acad': 71,
 'Item: bushwick community high school': 88}

In [95]:
with open('names.csv', 'w') as f:
    for key in proc2.keys():
        f.write("%s,%s\n"%(key,proc2[key]))
    f.close()

In [96]:
data=pd.read_csv('names.csv')
data

,Column,Value
0,Dataset,dataset1.csv
1,Number_of_rows,25096
2,Number_of_columns,23
3,column 1,Demographic
4,column 2,DBN
5,column 3,School Name
6,column 4,Cohort
7,column 5,Total Cohort
8,column 6,Total Grads - n
9,column 7,Total Grads - % of cohort
10,column 8,Total Regents - n
11,column 9,Total Regents - % of cohort
12,column 10,Total Regents - % of grads
13,column 11,Advanced Regents - n
14,column 12,Advanced Regents - % of cohort
15,column 13,Advanced Regents - % of grads
16,column 14,Regents w/o Advanced - n
17,column 15,Regents w/o Advanced - % of cohort
18,column 16,Regents w/o Advanced - % of grads
19,column 17,Local - n
20,column 18,Local - % of cohort
21,column 19,Local - % of grads
22,column 20,Still Enrolled - n
23,column 21,Still Enrolled - % of cohort
24,column 22,Dropped Out - n
25,column 23,Dropped Out - % of cohort
26,Item: henry street school for international,54
27,Item: university neighborhood high school,77
28,Item: east side community school,76
29,Item: marta valle high school,74
...,...,...
284,Item: high school for construction trades,22
285,Item: forest hills high school,78
286,Item: jamaica high school,83
287,Item: hillcrest high school,84
288,Item: queens high school for the sciences a,62
289,Item: high school for law enforcement and p,65
290,Item: pathways college preparatory school:,39
291,Item: excelsior preparatory high school,53
292,Item: george washington carver high school,78
293,Item: springfield gardens high school,48
294,Item: humanities & arts magnet high school,84
295,Item: william cullen bryant high school,84
296,Item: long island city high school,84
297,Item: frank sinatra school of the arts high sc...,82
298,Item: newcomers high school,78
299,Item: baccalaureate school for global educa,66
300,Item: csi high school for international stu,33
301,Item: the michael j. petrides school,79
302,Item: new dorp high school,84
303,Item: port richmond high school,84
304,Item: curtis high school,84
305,Item: tottenville high school,84
306,Item: susan e. wagner high school,84
307,Item: staten island technical high school,76
308,Item: bushwick high school,34
309,Item: ebc high school for public servicebu,79
310,Item: bushwick school for social justice,65
311,Item: all city leadership secondary school,63
312,Item: bushwick leaders high school for acad,71
313,Item: bushwick community high school,88