In [5]:
from pandas import DataFrame, read_csv
import pandas as pd

In [6]:
header=['A','B','C','D']

In [7]:
header

['A', 'B', 'C', 'D']

In [8]:
data=['Arow1','Bname1','Cage1','Dcity1']

In [9]:
data2=pd.read_csv('census-income.csv')

In [10]:
data2

       A       B      C       D
0  Arow1  Bname1  Cage1  Dcity1
1  Arow1  Bname2  Cage2  Dcity2
2  Arow1  Bname3  Cage3  Dcity3
3  Arow1  Bname4  Cage4  Dcity4
4  Arow2  Bname5  Cage5  Dcity5
5  Arow2  Bname6  Cage6  Dcity6
6  Arow2  Bname7  Cage7  Dcity7
7  Arow3  Bname8  Cage8  Dcity8
8  Arow2  Bname9  Cage9  Dcity9

In [15]:
dict={}
arr_columns=[]
arr=[]
for columns in data2.columns:
    counter=0
    arr_columns.append(columns)
    init_row=''
    #print(columns)
    for rows in data2[columns]: 
        dict[rows]=0
        #print(rows)
        arr.append(rows)

In [17]:
for i in range(0,len(arr)-1):
    if arr[i]==arr[i+1]:
        print(i,arr[i])

0 Arow1
1 Arow1
2 Arow1
4 Arow2
5 Arow2

In [18]:
for i in range(0,10):
    thisdict['x']=thisdict['x']+1

In [19]:
thisdict['x']

25

In [20]:
for key in dict.keys():
    dict[key]=arr.count(key)

In [22]:
itemdic={}
for key in dict.keys():
    if arr.count(key)>1:
        itemdic[key]=arr.count(key)

In [23]:
itemdic

{'Arow1': 4, 'Arow2': 4}