In [20]:
import numpy as np
import pandas as pd
data=pd.read_csv("2006_-_2011_NYS_Math_Test_Results_by_Grade_-_Citywide_-_by_Race-Ethnicity.csv")

In [39]:
data.columns

Index(['Grade', 'Year', 'Category', 'Number Tested', 'Mean Scale Score',
       'Level 1 #', 'Level 1 %', 'Level 2 #', 'Level 2 %', 'Level 3 #',
       'Level 3 %', 'Level 4 #', 'Level 4 %', 'Level 3+4 #', 'Level 3+4 %'],
      dtype='object')

In [22]:
for i in data[data.columns[0]]:
    print(i)
    #print (type(i))

3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades
3
4
5
6
7
8
All Grades

In [23]:
print(type(data[data.columns[5]][0]))

<class 'numpy.int64'>

In [38]:
index=0
for x in data.columns:
        print( x+":"+ str(type(data[data.columns[index]][0]).__name__)+","   )
        index=index+1

Grade:str,
Year:int64,
Category:str,
Number Tested:int64,
Mean Scale Score:int64,
Level 1 #:int64,
Level 1 %:float64,
Level 2 #:int64,
Level 2 %:float64,
Level 3 #:int64,
Level 3 %:float64,
Level 4 #:int64,
Level 4 %:float64,
Level 3+4 #:int64,
Level 3+4 %:float64,